:root {
  --Brown: #2d1ef1;
  --Yellow: rgb(255, 158, 9);
  --Grey: #ece8dc;
  --White: #fff;
  --Dark: #222;
}

body {
  background: var(--White);
  color: var(--Dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-yellow {
  color: var(--Yellow);
}

.cart-icon {
  cursor: pointer;
  color: var(--Yellow);
  font-size: 2rem;
}

.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(255, 158, 9, 0.5), (255, 158, 9, 0.5));
  background-position: center;
  background-size: cover;
}

.btn-yellow {
  color: var(--Yellow);
  border-color: var(--Yellow);
}
